<div class="logOut">
    <span>
        <button class="logoutButton" ng-click="logout()">Logout</button>
    </span>
</div>
<div class="formHeading">
    <span class="loginComponents heading">Welcome {{loggedUserName}}</span>
</div>
<div class="dashboardcontainer">
    <div class="cameradiv">
        <img id="img" src="img/noavatar.png">
    </div>
    <div class="buttondiv">
        <button class="generalButtons" ng-click="openCamera()">Camera Image</button>
        <button class="generalButtons" ng-click="openGallery()">Gallery Image</button>
    </div>
     <div ng-show="enableRemoveBtn" class="buttondiv removeBtn">
        <button class="generalButtons" ng-click="removeImage()">Remove Image</button>
    </div>
</div>