<div class="formOuter">
    <div class="formHeading">
        <span class="loginComponents heading">Sign Up</span>
    </div>
    <div class="formContentDiv">
        <div class="formBox">
            <div class="formItem">
                <input class="loginComponentsText formInput" type="text" ng-model="name" required placeholder="Name">
            </div>
            <div class="formItem">
                <input class="loginComponentsText formInput" type="number" maxlength="2" ng-model="age" required placeholder="Age">
            </div>
            <div class="formItem">
                <input class="loginComponentsText formInput" type="text" ng-model="mobile" required placeholder="Mobile">
            </div>
            <div class="formItem">
                <input class="loginComponentsText formInput" type="email" ng-model="email" required placeholder="Email">
            </div>
            <button class="formButtons generalButtons loginComponentsText" ng-click="submit()">Submit</button>
            <button class="formButtons generalButtons loginComponentsText" ng-click="clear()">Clear</button>
            <button class="formButtons generalButtons loginComponentsText" ng-click="back()">Back</button>
            <div class="errorTextDiv">
                <span class="errorText">{{errorText}}</span>
                <span class="successText">{{successText}}</span>
            </div>
        </div>
    </div>
</div>