<div class="headingDiv">    
    <span class="loginComponents heading">Dashboard Sample App</span>
</div>
<div class="loginDiv">
    <input class="loginComponents loginInputs loginComponentsText" type="text" ng-model="username" placeholder="Username"/><br>
    <input class="loginComponents loginInputs loginComponentsText" type="password" ng-model="password" placeholder="Password"/>
    <button class="loginComponents generalButtons loginComponentsText" ng-click="loginUser()">Login</button>
    <button class="loginComponents generalButtons loginComponentsText" ng-click="signUp()">SignUp</button>
    <button class="loginComponents generalButtons loginComponentsText" ng-click="usersList()">Users List</button>
    <div class="errorTextDiv">
        <span class="errorText">{{errorText}}</span>
    </div>
</div>