body{
   margin: 0px !important; 
}
.viewport {
    height:100%;
    overflow:hidden;
    background: #673AB7;
    background: -webkit-linear-gradient(-90deg, #673AB7, #5a1351);
    background: -o-linear-gradient(-90deg, #673AB7, #5a1351);
    background: -moz-linear-gradient(-90deg, #673AB7, #5a1351);
    background: linear-gradient(-90deg, #673AB7, #5a1351);
}
.ui-wrapper{
    height:100%;
    overflow:hidden;
}
::-webkit-input-placeholder {
  color: white;
}
img {
    border-radius: 50%;
    width: 185px;
    height: 185px;
}
.cameradiv{
    width: 50%;
    margin: 0 auto;
    padding: 50px;
}
.buttondiv{
    text-align: center;
}
.dashboardcontainer{
    height:100vh;
}
.generalButtons{
    background: deeppink;
    outline: none;
    border: none;
    padding: 13px;
    border-radius: 5px;
    font-weight: bolder;
    color: white;
}
.loginDiv{
    width:65%;
    margin:0 auto;
    height: 100vh;
}
.loginComponents{
    width: 100%;
    margin: 8px;
}
.heading{
    color: white;
    font-weight: bolder;
    font-size: 21px;
}
.headingDiv{
    text-align: center;
    margin: 60px;
}
.errorText{
    font-size: 14px;
    color: red;
    font-weight: bold;
}
.errorTextDiv{
    text-align: center;
}
.loginInputs{
    border: none;
    background: transparent;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    outline: none;
}
.loginComponentsText{
    font-size: 15px;
}
.removeBtn{
    padding: 17px;
}
.formHeading {
    text-align: center;
    margin: 5px;
    height: 5vh;
}
.formButtons {
    margin: 8px;
}
.formContentDiv {
    height: 90vh;
}
.formOuter {
    height: 100vh;
}
.formItem {
    margin: 10px;
}
.formInput {
    border-radius: 10px;
    background-color: rgba(204, 202, 202, 0.59);
    margin: 5% 0px;
    height: 20px;
    outline:none;
}
.formBox {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    border: 3px solid #bea9d6;
    background-color: #c89bce;
    margin: 14%;
    padding-bottom: 8%;
}
.successText{
    font-size: 14px;
    color: lightseagreen;
    font-weight: bold;
}
.logOut {
    text-align: right;
    padding: 4px;
}
.logoutButton{
    background: grey;
    outline: none;
    border: none;
    padding: 13px;
    border-radius: 5px;
    font-weight: bolder;
    color: black;
}
.row{
    width: 100%
}
.column{
    color: white;
}
.listitem {
    background-color: rgba(238, 238, 238, 0.39);
    border: solid 2px #fff;
    border-radius: 9px;
    padding: 6px;
    margin-bottom: 10px;
}
.userHeading{
    text-align: center;
    margin: 20px;
}
.userListDiv{
    width:85%;
    margin:0 auto;
    /*height: 90vh;*/
}
.outerDiv{
    height: 100%;
    padding-bottom: 50px;
}