<div class="userHeading">
    <span class="loginComponents heading">Registered Users</span>
</div>
<div class="scrollable-content outerDiv" style="padding-bottom: 50px;">
    <div class="userListDiv">
        <div class=" users">
            <div class="listitem" ng-repeat="user in dataArray">
                <div class="row">
                    <div class="column">
                        <span>Name : {{user.name}}</span>
                        <span style="float:right">Age : {{user.age}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <span>Mobile : {{user.mobile}}</span>
                    </div>
                    <div class="column">
                        <span>Email : {{user.email}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>